<div class="page bg-color-page " data-page="alarms.assets">
	<div class="navbar color-black">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="link icon-only open-panel color-black"> <i class="f7-icons icon-header-menu"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.ALARM_MSG06}}</div>
            <div class="right">
            	<a href="#" class="link saveAssets"><i class="f7-icons">check</i></a>           	
            </div>
        </div>
    </div>    
	
	<form class="searchbar searchbarAlarmsAssets theme-white" >
        <div class="searchbar-input">
            <input type="search" placeholder="{{@global.LANGUAGE.COM_MSG06}}">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">{{@global.LANGUAGE.COM_MSG04}}</a>
    </form>

    <div class="searchbar-overlay"></div>

    <div class="page-content">
        <div class="list-block list-block-selectall">
            <ul>
                <li class="bw-li-switch">
                    <div class="item-content">                               
                        <div class="item-inner">
                            <div class="item-title color-white">{{@global.LANGUAGE.COM_MSG30}}</div>                        
                            <label class="label-switch">
                                <input type="checkbox" name="select-all" >
                                <div class="checkbox"></div>
                            </label>                        
                        </div>
                    </div>
                </li>
            </ul>
        </div>

		<div class="content-block alarms-assets-search-nothing-found searchbar-not-found color-white">                               
            {{@global.LANGUAGE.COM_MSG05}}
        </div>        
        <div class="list-block media-list virtual-list no-hairlines list-block-search-alarms-assets layout-dark alarmsAssetList">          
            
        </div>
        
    </div>

</div>
