
<div class="navbar color-black">
   	<div class="navbar-inner">
   	  	<div class="left sliding">
           	<a href="#" class="link back color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
           </div>
   		<div class="center sliding">{{@global.LANGUAGE.ALARM_MSG06}}</div>
   		<div class="right sliding">  
   			<a href="#" class="link  saveAlarm"><i class="f7-icons">check</i></a> 
   		</div>
   	</div>
</div>

<div class="pages">
	<div class="page bg-color-page alarm_page" data-page="alarms.select">
		
	  	
	  	<div class="page-content">
	  		<input type="hidden" name="Assets" value="{{Assets}}">

	  			<div class="content-block-title bw-li-switch">
                    {{@global.LANGUAGE.GEOFENCE_MSG_28}}
                    <label class="label-switch">
                        <input type="checkbox" name="ignoreBetween" {{#if IgnoreBetween}} checked="checked" {{/if}}>
                        <div class="checkbox"></div>
                    </label> 
                </div> 
                <div class="list-block layout-dark list-block-input " >          
                    <ul> 
                        <li class="picker-el-wrapper {{#unless IgnoreBetween}} disabled {{/unless}}">
                            <a href="#" class="item-content item-link item-with-arrow">                               
                                <div class="item-inner">
                                    <div class="item-title label">{{@global.LANGUAGE.GEOFENCE_MSG_16}}</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="{{@global.LANGUAGE.GEOFENCE_MSG_16}}" name="picker-from" class="picker-from" readonly value="{{BeginTime}}">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="picker-el-wrapper {{#unless IgnoreBetween}} disabled {{/unless}}">
                            <a href="#" class="item-content item-link item-with-arrow">                                
                                <div class="item-inner no-after">
                                    <div class="item-title label">{{@global.LANGUAGE.GEOFENCE_MSG_17}}</div>
                                    <div class="item-input  no-after">
                                        <input type="text" placeholder="{{@global.LANGUAGE.GEOFENCE_MSG_17}}" name="picker-to" class="picker-to" readonly value="{{EndTime}}">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="ignore-on-wrapper {{#unless IgnoreBetween}} disabled {{/unless}}">                        
                            <a href="#" class="item-link smart-select " data-back-text=" " >                            
                                <select name="ignore-days"  multiple>                                
                                    <!-- <option value="1" data-display-as="{{@global.LANGUAGE.COM_MSG46}}">{{@global.LANGUAGE.GEOFENCE_MSG_20}}</option>
                                    <option value="2" data-display-as="{{@global.LANGUAGE.COM_MSG47}}">{{@global.LANGUAGE.GEOFENCE_MSG_21}}</option>  
                                    <option value="4" data-display-as="{{@global.LANGUAGE.COM_MSG48}}">{{@global.LANGUAGE.GEOFENCE_MSG_22}}</option>
                                    <option value="8" data-display-as="{{@global.LANGUAGE.COM_MSG49}}">{{@global.LANGUAGE.GEOFENCE_MSG_23}}</option>  
                                    <option value="16" data-display-as="{{@global.LANGUAGE.COM_MSG50}}">{{@global.LANGUAGE.GEOFENCE_MSG_24}}</option>
                                    <option value="32" data-display-as="{{@global.LANGUAGE.COM_MSG51}}">{{@global.LANGUAGE.GEOFENCE_MSG_25}}</option>  
                                    <option value="64" data-display-as="{{@global.LANGUAGE.COM_MSG52}}">{{@global.LANGUAGE.GEOFENCE_MSG_26}}</option>   -->
                                    {{#each DaysOfWeek}}             
                                        <option value="{{val}}" {{#if selected}} selected {{/if}}>{{name}}</option> 
                                        {{else}}
                                        <option value="0" >{{@global.LANGUAGE.GEOFENCE_MSG_20}}</option>
                                        <option value="1" >{{@global.LANGUAGE.GEOFENCE_MSG_21}}</option>  
                                        <option value="5" >{{@global.LANGUAGE.GEOFENCE_MSG_22}}</option>
                                        <option value="3" >{{@global.LANGUAGE.GEOFENCE_MSG_23}}</option>  
                                        <option value="4" >{{@global.LANGUAGE.GEOFENCE_MSG_24}}</option>
                                        <option value="5" >{{@global.LANGUAGE.GEOFENCE_MSG_25}}</option>  
                                        <option value="6" >{{@global.LANGUAGE.GEOFENCE_MSG_26}}</option>
                                    {{/each}}  
                                </select>
                                <div class="item-content">
                                    <div class="item-inner ">                                    
                                        <div class="item-title label">{{@global.LANGUAGE.GEOFENCE_MSG_31}}</div>                                        
                                    </div>
                                </div>
                            </a>
                        </li> 
                
                    </ul>
                </div>

	  		<!-- <div class="list-block no-hairlines layout-dark media-list list-block-selectall">
	  		                <ul>
	  		                    <li class="item-content ">	            	           		
	  				           		<div class="item-inner">
	  				            		<div class="item-title-row">
	  				            	  		<div class="item-title ">{{@global.LANGUAGE.ALARM_MSG24}}</div>
	  				            	  		<div class="item-after">
	  				            	  			<label class="label-switch  ">
	  					            	  			<input type="checkbox" name="checkbox-alarm" {{#if alarm}}checked="checked"{{/if}}>
	  					              				<div class="checkbox"></div>
	  					              			</label>
	  				            	 		</div>
	  				            	  	</div>
	  				            	</div>	            	
	  				            </li>
	  		                </ul> 
	  		            </div> -->

            <div class="content-block-title bw-li-switch">
                {{@global.LANGUAGE.ALARM_MSG24}}
                <label class="label-switch">
                    <input type="checkbox" name="checkbox-alarm" {{#if alarm}} checked="checked" {{/if}}>
                    <div class="checkbox"></div>
                </label> 
            </div> 
	  		<div class="list-block layout-dark media-list alarm_list"> 
	  				
	  			<ul>
	  				<!-- <li class="item-content alarm_title">	            	           		
	  						           		<div class="item-inner">
	  						            		<div class="item-title-row">
	  						            	  		<div class="item-title ">{{@global.LANGUAGE.ALARM_MSG06}}</div>
	  						            	  		<div class="item-after">
	  						            	  			<label class="label-switch  ">
	  							            	  			<input type="checkbox" name="checkbox-alarm" {{#if alarm}}checked="checked"{{/if}}>
	  							              				<div class="checkbox"></div>
	  							              			</label>
	  						            	 		</div>
	  						            	  	</div>
	  						            	</div>	            	
	  						            </li> -->
		            
	  				<li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-geofenceIn" value="8" {{#if geofenceIn}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG12}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-geolock" value="1024" {{#if geolock}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG05}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-harshAcc" value="33554432" {{#if harshAcc}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG25}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-harshBrk" value="2097152" {{#if harshBrk}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG26}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-accOff" value="65536" {{#if accOff}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG10}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-accOn" value="32768" {{#if accOn}}checked="checked"{{/if}}>
		            		<div class="item-media">
								<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG11}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-illegalIgnition" value="128" {{#if illegalIgnition}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG14}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-geofenceOut" value="16" {{#if geofenceOut}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG13}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-lowBattery" value="512" {{#if lowBattery}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG17}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-mainBatteryFail" value="4" {{#if mainBatteryFail}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG18}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-custom2LowAlarm" value="1048576" {{#if custom2LowAlarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
								<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG22}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            

		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm"name="checkbox-customAlarm" value="131072" {{#if customAlarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
								<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG20}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-sosAlarm" value="2" {{#if sosAlarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG19}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-speeding" value="32" {{#if speeding}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG23}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" class="input-checkbox-alarm" name="checkbox-tilt" value="256" {{#if tilt}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG07}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>

		        </ul>
		        
	  		</div>

			
	  	</div>
		
	</div>
</div>