<div class="page no-swipeback bg-color-page track_page" data-page="asset.track">
	<div class="navbar color-black ">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="back link color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{Name}}</div>
           	<div class="right">
           		<a href="#" class="link refreshTrack"><i class="f7-icons icon-header-track"></i></a>
           	</div>
        </div>
    </div>

    <div class="page-content">

    	<div class="position_map "> 
            <div class="float_button_wrapper pano_button_wrapper bg-blue">
                <a href="#" class="link color-white pano_button" data-lat="{{Lat}}" data-lng="{{Lng}}" >
                    <i class="pano_preview_img"></i>                                   
                </a>
            </div>
            <!-- <div class="float_button_wrapper gprs_button_wrapper bg-color-page">
                <a href="#" class="link color-white sendPing">
                    <i class="f7-icons icon-header-track color-white"></i>
                    <span>{{@global.LANGUAGE.ASSET_TRACK_MSG15}}</span>                    
                </a>
            </div> -->
            <div class="float_button_wrapper route_button_wrapper bg-color-page">
                <a href="#" class="link color-white routeButton" data-lat="{{Lat}}" data-lng="{{Lng}}" >
                    <i class="f7-icons icon-other-route color-white"></i>
                    <span>{{@global.LANGUAGE.ASSET_TRACK_MSG16}}</span>                    
                </a>
            </div>
            <div class="map" id="map"></div>
    	</div>
        <div class="position_bottom">
            
            <div class="row no-gutter">                
                <div class="col-33 color-white">
                    <i class="f7-icons icon-other-data color-white"></i>
                    <p>{{@global.LANGUAGE.ASSET_TRACK_MSG00}}</p>  
                    <p class="position_data position_time">{{Time}}</p>
                </div> 
                <div class="col-33 color-white">
                    <i class="f7-icons icon-other-speed color-white"></i>
                    <p>{{@global.LANGUAGE.ASSET_TRACK_MSG02}}</p>  
                    <p class="position_data position_speed">{{Speed}}</p>
                </div>
                <div class="col-33 color-white">
                    <i class="f7-icons icon-other-distance color-white"></i>
                    <p >{{@global.LANGUAGE.ASSET_TRACK_MSG03}}</p>  
                    <p class="position_data position_mileage">{{Mileage}}</p>
                </div>
                
            </div>
            <div class="divider"></div>
            <div class="row no-gutter">
                <div class="col-100 color-white address">  
                    <div class="position_bottom_img_right">
                        <p class="display_address">{{Address}}</p>
                        <div class="item-subtext position_latlng">{{Coords}}</div>  
                    </div>
                </div>
            </div>
            
        </div>
    </div>
	
</div>