<div class="navbar">
   	<div class="navbar-inner">
   	  	<div class="left">
           	<a href="#" class="link backToIndex"> <i class="f7-icons icon-header-arrow-back"></i></a>
           </div>
   		<div class="center sliding">{{Name}}</div>
   		<div class="right sliding">    			
   			<a href="#" class="link  saveAlarm"><i class="f7-icons icon-header-apply"></i></a> 
   		</div>
   		<!-- Sub navbar -->
        <div class="subnavbar">
           	<div class="buttons-row">
           		<a href="#" class="button tab-link " data-id="asset.status" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</span>
           		</a>
           		<a href="#" class="button tab-link active" data-id="asset.alarm" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ALARM_MSG01}}</span>
           		</a>
           		<a href="#" class="button tab-link" data-id="asset.playback" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</span>
           		</a>
           		<a href="#" class="button tab-link" data-id="asset.track" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</span>
           		</a>
           	</div>
        </div>
   	</div>
</div>

<div class="pages">
	<div class="page with-subnavbar bg-color-page alarm_page" data-page="asset.alarm">
	  	<div class="page-content">  

	  		<div class="list-block no-hairlines layout-dark media-list list-block-selectall">
                <ul>
                    <li class="item-content ">	            	           		
		           		<div class="item-inner">
		            		<div class="item-title-row">
		            	  		<div class="item-title ">{{@global.LANGUAGE.ALARM_MSG06}}</div>
		            	  		<div class="item-after">
		            	  			<label class="label-switch  ">
			            	  			<input type="checkbox" name="checkbox-alarm" {{#if alarm}}checked="checked"{{/if}}>
			              				<div class="checkbox"></div>
			              			</label>
		            	 		</div>
		            	  	</div>
		            	</div>	            	
		            </li>
                </ul> 
            </div>		
	  		<div class="list-block layout-dark media-list alarm_list"> 
	  				
	  			<ul>
	  				<!-- <li class="item-content alarm_title">	            	           		
	  						           		<div class="item-inner">
	  						            		<div class="item-title-row">
	  						            	  		<div class="item-title">{{@global.LANGUAGE.ALARM_MSG06}}</div>
	  						            	  		<div class="item-after">
	  						            	  			<label class="label-switch  ">
	  							            	  			<input type="checkbox" name="checkbox-alarm" {{#if alarm}}checked="checked"{{/if}}>
	  							              				<div class="checkbox"></div>
	  							              			</label>
	  						            	 		</div>
	  						            	  	</div>
	  						            	</div>	            	
	  						            </li> -->
		            
	  				<li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-geofenceIn" value="8" {{#if geofenceIn}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG12}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-geolock" value="1024" {{#if geolock}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG05}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-harshAcc" value="33554432" {{#if harshAcc}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG25}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-harshBrk" value="2097152" {{#if harshBrk}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG26}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-accOff" value="65536" {{#if accOff}}checked="checked"{{/if}}>
		            		<div class="item-media">
					        	<i class="icon icon-form-checkbox"></i>
					        </div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG10}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-accOn" value="32768" {{#if accOn}}checked="checked"{{/if}}>
		            		<div class="item-media">
								<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG11}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-geofenceOut" value="16" {{#if geofenceOut}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG13}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-lowBattery" value="512" {{#if lowBattery}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG17}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-mainBatteryFail" value="4" {{#if mainBatteryFail}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG18}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-custom2LowAlarm" value="1048576" {{#if custom2LowAlarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
								<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG22}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-illegalIgnition" value="128" {{#if illegalIgnition}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG14}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>

		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-customAlarm" value="131072" {{#if customAlarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
								<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG20}}</div>
		            	  	</div>
		            	</label>
		            </li>
		            <!-- <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-custom2Alarm" value="262144" {{#if custom2Alarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            								<i class="icon icon-form-checkbox"></i>
		            							</div>
		            		<div class="item-inner">		            	  		
		            	  	  	<div class="item-title">{{@global.LANGUAGE.ALARM_MSG21}}</div>
		            	  	</div>
		            	</label>
		            </li> -->
		            
		            
		            
		            
		            
		            <!-- <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-input1Alarm" value="1" {{#if input1Alarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
		            							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG15}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li> -->
		           <!--  <li >
		           	<label class="label-checkbox item-content  " >
		           		<input type="checkbox"  name="checkbox-input1LowAlarm" value="524288" {{#if input1LowAlarm}}checked="checked"{{/if}}>
		           		<div class="item-media">
		           			<i class="icon icon-form-checkbox"></i>
		           							</div>
		           		<div class="item-inner">	
		           			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG16}}</div>   	  		
		           	  	  			            	  	  	
		           	  	</div>
		           	</label>
		           </li> -->
		            
		            
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-sosAlarm" value="2" {{#if sosAlarm}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG19}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-speeding" value="32" {{#if speeding}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG23}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox"  name="checkbox-tilt" value="256" {{#if tilt}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">	
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG07}}</div>   	  		
		            	  	  			            	  	  	
		            	  	</div>
		            	</label>
		            </li>

		        </ul>
		        
	  		</div>

	  		<!-- <div class="content-block">
	  					<div class="buttons-row">
	  						<div class="button button-fill bg-boatwatch alarmSave">{{@global.LANGUAGE.COM_MSG00}}</div>
	  						
	  					</div>
	  				</div> -->
			
	  	</div>
		
	</div>
</div>
