<div class="navbar bg-white color-black">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link backToIndex color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
        </div>
        <div class="center sliding">{{Name}}</div>   
        <div class="right">
            <a href="#" class="link  showPlayback"><i class="f7-icons icon-header-apply"></i></a>               
        </div>

        <!-- Sub navbar -->
        <div class="subnavbar">
            <div class="buttons-row">
                <a href="#" class="button tab-link " data-id="asset.status" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</span>
                </a>
                <a href="#" class="button tab-link " data-id="asset.alarm" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ALARM_MSG01}}</span>
                </a>
                <a href="#" class="button tab-link active" data-id="asset.playback" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</span>
                </a>
                <a href="#" class="button tab-link" data-id="asset.track" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="pages">
    <div class="page with-subnavbar bg-color-page playback_page" data-page="asset.playback">
        <div class="page-content">     
            <!-- <div class="content-block-title">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG08}}: {{Name}}</div>    -->
            <div class="list-block no-hairlines layout-dark list-playback-settings ">
                <ul>                    
                    <li>
                        <a href="#" class="item-content item-link item-with-arrow">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG04}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{@global.LANGUAGE.ASSET_PLAYBACK_MSG04}}" name="picker-start-date" class="picker-start-date" readonly value="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link item-with-arrow">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG05}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{@global.LANGUAGE.ASSET_PLAYBACK_MSG05}}" name="picker-start-time" class="picker-start-time" readonly value="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link item-with-arrow">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG06}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{@global.LANGUAGE.ASSET_PLAYBACK_MSG06}}" name="picker-end-date" class="picker-end-date" readonly value="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link item-with-arrow">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG07}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{@global.LANGUAGE.ASSET_PLAYBACK_MSG07}}" name="picker-end-time" class="picker-end-time" readonly value="">
                                </div>
                            </div>
                        </a>
                    </li>
                  
                    <li class="li-switch">
                        <div class="item-content"> 
                        <div class="item-media"></div>                              
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG29}}</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox" name="optimizedState" checked="checked" > <!-- checked="checked" -->
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
                
        	

        </div>
    </div>
</div>

