<div class="page bg-color-page forgot_password_page" data-page="forgotPwd">
  <div class="navbar color-black ">
    <div class="navbar-inner">      
      <div class="left">
        <a href="#" class="back link color-black backToLogin"> <i class="f7-icons">arrow_left</i></a>
      </div>
      <div class="left navbar_title">{{@global.LANGUAGE.LOGIN_MSG05}}</div>
      <div class="right">
        <a href="#" class="link  sendEmail"><i class="f7-icons">check</i></a> 
      </div>
    </div>    
  </div>
  <div class="page-content">
   
    <div class="content-block-title w-space-normal">{{@global.LANGUAGE.PASSWORD_FORGOT_MSG00}}</div>
    <div class="list-block layout-dark">
      <ul>          
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title label ">E-mail</div>
                    <div class="item-input">
                      <input type="email" placeholder="username@email.com" maxlength="200" name="Email">
                    </div>
                </div>
            </div>
        </li>
      </ul>
    </div>
    
              
  </div>
</div>   