<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="backToIndex link color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
        </div>
        <div class="center sliding">{{@global.LANGUAGE.NOTIFICATION_MSG00}}</div>  
        <div class="right">
            <a href="#" class="link color-black deleteAllNotifications" ><i class="f7-icons icon-other-remove"></i></a>
        </div>           
    </div>
</div>
<div class="pages">
    <div class="page notification_page bg-color-page" data-page="notification">    	
    	<div class="page-content pull-to-refresh-content" data-ptr-distance="60">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="list-block media-list no-hairlines layout-dark notification_list">
                
            </div>
        </div>
    </div>
</div>

