<div class="page bg-color-page notification_page" data-page="notification">
	<div class="navbar color-black">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link backToIndex color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.NOTIFICATION_MSG00}}</div>     
            <div class="right">
                <a href="#" class="link deleteAllNotifications" ><i class="f7-icons icon-other-remove"></i></a>
            </div>       
        </div>
    </div>
	<div class="page-content pull-to-refresh-content" data-ptr-distance="60">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="list-block media-list no-hairlines layout-dark notification_list">
            
        </div>
    </div>
</div>

