<div class="page bg-color-page user_recharge_credit_page" data-page="user.recharge.credit">
	<div class="navbar color-black">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only open-panel color-black"> <i class="f7-icons icon-header-menu"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.MENU_MSG02}}</div>     
            <!-- <div class="right">
                    <a href="#" class="link deleteAllNotifications" ><i class="f7-icons icon-header-delete"></i></a>
                </div>    -->    
        </div>
    </div>
	<div class="page-content " >
        
        <div class="content-block-title color-white">{{@global.LANGUAGE.USER_RECHARGE_MSG00}}</div>
        <div class="content-block content-block-text color-gray">
            {{@global.LANGUAGE.PROMPT_MSG022}}
        </div>     
       
        <div class="content-block recharge_block_wrapper">
            <div class="row">
                <div class="col-35 recharge_block">
                    <div class="recharge_block_top">
                        <p>10 {{@global.LANGUAGE.USER_RECHARGE_MSG01}}</p>
                        <div class="recharge_block_top_divider"></div>
                        <p><b>$3.00 {{buttonCur}}</b></p>
                    </div>
                    <!-- <div class="recharge_block_middle">
                        <p><b>$3.00</b> {{buttonCur}}</p>
                    </div> -->
                    <div class="recharge_block_bottom">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{button10}}&on0=KEY&os0={{userCode}}&on1=dn&os1={{dealerNumber}}&on2=other&os2={{other}}" class="link external button_buy_now">{{@global.LANGUAGE.USER_RECHARGE_MSG02}}</a>                      
                    </div>            
                </div>
                <div class="col-30"></div>
                <div class="col-35 recharge_block recharge_block2">
                    <div class="recharge_block_top">
                        <p>50 {{@global.LANGUAGE.USER_RECHARGE_MSG01}}</p>
                        <div class="recharge_block_top_divider"></div>
                        <p><b>$10.00 {{buttonCur}}</b></p>
                    </div>
                    <!-- <div class="recharge_block_middle">
                        <p><b>$45.00</b> {{buttonCur}}</p>
                    </div> -->
                    <div class="recharge_block_bottom"> 
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{button50}}&on0=KEY&os0={{userCode}}&on1=dn&os1={{dealerNumber}}&on2=other&os2={{other}}" class="link external button_buy_now">{{@global.LANGUAGE.USER_RECHARGE_MSG02}}</a>                      
                    </div>
                </div>
                <div class="col-40 recharge_block recharge_block3">
                    <div class="recharge_block_top">
                        <p>100 {{@global.LANGUAGE.USER_RECHARGE_MSG01}}</p>
                        <div class="recharge_block_top_divider"></div>
                        <p><b>$18.00 {{buttonCur}}</b></p>
                    </div>
                    <!-- <div class="recharge_block_middle">
                        <p><b>$18.00</b> {{buttonCur}}</p>
                    </div> -->
                    <div class="recharge_block_bottom">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{button100}}&on0=KEY&os0={{userCode}}&on1=dn&os1={{dealerNumber}}&on2=other&os2={{other}}" class="link external button_buy_now">{{@global.LANGUAGE.USER_RECHARGE_MSG02}}</a>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

