/* COMMON */

/* .theme-bw .navbar, .theme-bw .subnavbar{
	background-color: #3FA8B2;
	color: #fff;
} */
/* .navbar:after {
    background-color: #3FA8B2;
} */
.navbar:after{
	background: transparent;
}
body.with-panel-left-cover .panel-overlay{
	opacity: 1;
	background: rgba(0,0,0,.6);
}
.list-block ul{
	background: transparent;
}

.vertical-center {
  	position: relative;
  	top: 50%; 
  	transform: translateY(-50%);
}
.content-divider{
	width: 100%;
	height: 1px;
	background: #F2F1F4;
}

.text-a-c{
	text-align: center;
}
.w-space-normal{
	white-space: normal;
}
.dislay_none{
	display: none;
}
.user_f_l {
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
}
.navbar_title{
	display: inline-block !important;
	width: calc(100% - 112px);
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar_title_long{
	width: calc(100% - 72px);
}
.navbar_title_index{
	width: calc(100% - 168px);
}
.button{
	padding: 0 18px;
    font-size: 18px;
}

.bg-color-page{
	background-color: #333;
}

.bg-dealer{
	background: #F47A24 !important;
}

.layout-dark.list-block input{
	color: #fff;
}
.layout-dark .list-block ul, .list-block.layout-dark ul{
	background: transparent;
}
.layout-dark .list-block ul .item-title.label, .list-block.layout-dark ul .item-title.label{
	color: #999999;
}

.layout-dark .list-block ul:before, .list-block.layout-dark ul:before{
	background-color: rgba(119,119,119,.2);
}
.layout-dark .list-block ul:after, .list-block.layout-dark ul:after{
	background-color: rgba(119,119,119,.2);
}

.layout-dark .list-block .item-inner:after{
	background-color: rgba(119,119,119,.2);
}
.layout-dark .item-inner:after, .layout-dark .list-block ul ul li:last-child .item-inner:after{
	background-color: rgba(119,119,119,.2);
}
.layout-dark.list-block select{
	color: #fff;
}
.theme-dealer .label-switch input[type=checkbox]:checked+.checkbox{
	background: #F47A24;
}
.theme-dealer label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, .theme-dealer label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
	    background-color: #F47A24;
}
.theme-dealer .content-block-title{
	color: #fff;
	font-size: 18px;
}
.theme-dealer .list-block .item-title.label{
	font-size: 17px;
}

.theme-dealer .list-block input[type=time], .theme-dealer .list-block input[type=number], .theme-dealer .list-block input[type=text], .theme-dealer .list-block input[type=password], .theme-dealer .list-block input[type=search], .theme-dealer .list-block input[type=email], .theme-dealer .list-block input[type=tel], .theme-dealer .list-block input[type=url], .theme-dealer .list-block input[type=date], .theme-dealer .list-block input[type=datetime-local], .theme-dealer .list-block select, .theme-dealer .list-block textarea, .smart-select .item-after{
	font-size: 17px;
}
.theme-dealer .list-block.list-block-input .item-content{
	padding-left: 45px;
}
/* .theme-bw a.searchbar-cancel{
	color: #fff;
}

.button.button-fill.btn_login.active-state, 
html:not(.watch-active-state) .button.btn_login.button-fill:active{
	background-color: #3FA8B2;
}
.focus-state .input-field:after, .focus-state .item-input-field:after, .input-field.focus-state:after, .input-field.not-empty-state:after, .item-input-field.focus-state:after, .item-input-field.not-empty-state:after, .not-empty-state .input-field:after, .not-empty-state .item-input-field:after{
	background-color: #3FA8B2;
}
.label-switch.theme-bw input[type=checkbox]:checked+.checkbox, .theme-bw .label-switch input[type=checkbox]:checked+.checkbox{
	background-color: rgba(63,168,178, .5);
}
.label-switch.theme-bw input[type=checkbox]:checked+.checkbox:after, .theme-bw .label-switch input[type=checkbox]:checked+.checkbox:after{
	background-color: #3FA8B2;
}
.theme-bw label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, .theme-bw label.label-checkbox input[type=checkbox]:checked~.item-after i.icon-form-checkbox, .theme-bw label.label-checkbox input[type=checkbox]:checked~.item-inner i.icon-form-checkbox, .theme-bw label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox, .theme-bw label.label-checkbox input[type=radio]:checked~.item-after i.icon-form-checkbox, .theme-bw label.label-checkbox input[type=radio]:checked~.item-inner i.icon-form-checkbox, label.label-checkbox.theme-bw input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox.theme-bw input[type=checkbox]:checked~.item-after i.icon-form-checkbox, label.label-checkbox.theme-bw input[type=checkbox]:checked~.item-inner i.icon-form-checkbox, label.label-checkbox.theme-bw input[type=radio]:checked+.item-media i.icon-form-checkbox, label.label-checkbox.theme-bw input[type=radio]:checked~.item-after i.icon-form-checkbox, label.label-checkbox.theme-bw input[type=radio]:checked~.item-inner i.icon-form-checkbox{
	border-color: #3FA8B2;
    background-color: #3FA8B2;
} */

.theme-dealer .navbar, .theme-dealer .subnavbar, .theme-dealer .toolbar{
	background-color: #fff;
}
.theme-dealer .searchbar{
	background: #fff;
}

	.theme-dealer .searchbar input[type=search], .theme-dealer .subnavbar input{
		border: 1px solid #CCCCCC;
	}
	
.theme-dealer .button:not(.button-fill).active{
	background-color: #333333;
}
.theme-dealer .button:not(.button-fill){
	border-color: #333333;
}
.theme-dealer .tabbar-label{
	color: #333333;
}
.theme-dealer .button:not(.button-fill).active .tabbar-label{
	color: #fff;
}

.icon {
    font-size: 24px;    
}

.svg_menu{
	width: 32px;
}
/* .svg_menu_st0{
	fill:#414142;
} */
.asset_list_icon{
	width: 24px;
	font-size: 16px;
	margin-right: 8px;
	vertical-align: middle;
}
.icon-status{
	font-size: 10px;
	margin-right: 8px;
}

.state-1{
	color: #1DBC0C !important;
}
.state-2{
	color: #DD821F !important;
}
.state-3{
	color: #E5425A !important;
}
/* INDEX PAGE */
.menu_header{
	height: 160px;
	width: 100%;
	background: url('../images/navigation_header.png') no-repeat center center;
	background-size: cover;	
	text-align: center;
}
	.menu_header img{
		width: 80%;
	}

.navbar a.link, .subnavbar a.link, .toolbar a.link{
		color: #000;
	}
.subnavbar .button{
	padding: 0 6px;
	font-size: 12px;
}
.subnavbar:after,
.searchbar:after{
	background-color: #fff;
}
.theme-dealer .panel{
	background: #fff;
}

/* .theme-bw .button:not(.button-fill).active {
    background-color: #fff;
    color: #3FA8B2;
}
.theme-bw .button:not(.button-fill) {
    border-color: #fff;
}

.theme-bw .subnavbar .button{
	color: #fff;
} */

.searchbar{
	/* z-index: 1;
	padding: 12px 16px;
	    height: 56px; */
}
	.searchbar .searchbar-clear{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23000'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
	}
		.searchbar input[type=search]{
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23000000'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
			border-color: #000;
			color: #000;
		}
		.searchbar input[type=search]::-webkit-input-placeholder {color: #000;}/* Firefox 19+ */
		.searchbar input[type=search]::-moz-placeholder          {color: #000;}/* Firefox 19+ */
		.searchbar input[type=search]:-moz-placeholder           {color: #000;}/* Firefox 18- */
		.searchbar input[type=search]:-ms-input-placeholder      {color: #000;}

		
.notification_header{
	font-size: 20px;
}
.theme-bw .panel {
	background-color: #fff;
}

.menu_wrapper {
    position: relative;
    min-height: 100%;
}
.menu{
	   
	margin-top: 16px;
    padding-bottom: 60px;
    margin-bottom: 0;
}
	.menu ul:before,
	.menu ul:after{
		display: none;
	}
		.menu ul a:last-child{
			margin-bottom: 24px;
		}
		.theme-dealer .menu .item-content{
			color: #4D4D4D;
			
			font-size: 18px;
		}
		.menu .item-content:active,
		.menu .item-content:hover{
			/* background-color: #F2F1F4;
			color: #F47A24;			 */
		}
			.theme-dealer .menu .item-content i.icon{
				color: #4D4D4D;
			}
			.theme-dealer .menu .item-content:hover i.icon{
				color: #F47A24;
			}
		.menu .item-media .icon{
			font-size: 29px;
		}
			.menu .item-link .item-inner{		
				padding-right: 16px;
				background: none;
				background-position: initial;
				
			}
			.menu .item-inner:after{
				background-color: transparent;
			}


	.menu_remainings {
	    font-size: 16px;
	    text-align: center;
	    padding: 12px 4px;
	    color: #232323;
	    background: #E8EAF6;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    box-sizing: border-box;
	}

	
.assets_list{
	margin: 0;
	/* margin-top: 14px; */
}
	/* .assets_list.list-block ul:before,
	.assets_list.list-block ul:after,
	.assets_list.list-block .item-inner:after{
		display: none;
	} */
		.assets_list.list-block.media-list .item-media{
			-ms-flex-item-align: flex-start;
    		-webkit-align-self: flex-start;
    		align-self: flex-start;
		}
		.assets_list.list-block.media-list .item-inner{
			padding-top: 18px;
		}
		 
		.icon-status-fix {
		    font-size: 8px;
		    margin-right: 6px;
		}
			.assets_list.list-block.media-list .item-link .item-title-row{
				background: none;
				background-position: initial;
				/* font-size: 20px; */
				color: #fff;
				padding-right: 0;
			}
			.assets_list.list-block.media-list .item-link .item-title-row .item-after i{
				/* font-size: 30px; */
				margin: 0 4px;
			}
			.assets_list.list-block.media-list .item-link .item-subtitle{
				color: #A8A8A8;
				font-size: 13px;
				margin-top: -4px;
			}
			.assets_list.list-block.media-list .item-link .item-subtitle .stopped_time{
				color: #8e8e93;
				font-size: 11px;
			}			
			.assets_list.list-block.media-list .item-link .item-subtitle.online{
				color: #F47A24;
			}
			.assets_list .item-media .item_asset_img {				
				width: 58px;
				height: 58px;
				border-radius: 50%;
				overflow: hidden;
			}
			.assets_list.list-block .item-text{
    			overflow: initial;
    			max-height: initial;
    			text-overflow: initial;
    			-webkit-line-clamp: initial;
    			
    			font-size: 11px;
    			height: auto;
			}
			.assets_list.list-block .item-text .row>div{
				margin-top: 8px;
			}
			/* .assets_list.list-block .item-content:after {
			    content: '';
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    right: auto;
			    top: auto;
			    height: 1px;
			    width: 100%;
			    background-color: rgba(119,119,119,.2);
			    display: block;
			    z-index: 15;
			    -webkit-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;
			} */

.notification_button i{
	position: relative;
}	
	.new_not{
		/* animation-name: tossing;
		-webkit-animation-name: tossing;  
		
		animation-duration: 1.5s; 
		-webkit-animation-duration: 1.5s;
		
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite; */
	}
	.notification_button.new_not i:after{
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #CC1717;
		border-radius: 100%;
		top: 0;
    	right: 0;
	}



/* ALARMS ASSETS */
.list-block-selectall{
	list-style-type: none;
	margin: 0;
}
	.list-block-selectall .item-title{
		color: #fff;
	}
.alarmsAssetList{
	margin: 0;
}
	.alarmsAssetList .item-media .item_asset_img {
	    width: 60px;
	    height: 60px;
	    border-radius: 50%;
	}
		.alarmsAssetList .item-title-row{
			padding: 18px 0;
		}

/* NOTIFICATIONS */

.notification_list{
	margin: 0;
}
	.list-block.notification_list .item-title{
		font-size: 12px;
		color: #999999;
	}
	.list-block.notification_list .item-subtitle{
		font-size: 16px;	
		color: #fff;
		
	}
	.list-block.notification_list .item-after{
		font-size: 12px;
		color: #999999;
	}
	.notification_button{
		padding-left: 8px;
	}

/* LOGIN */
.login_page .login-screen-content{
	background: url('../images/bg.png') no-repeat center center;
	background-size: cover;	
}
	.button.button-fill.btn_login{
		background-color: #3FA8B2;
		text-transform: uppercase;
	}
	.logo{
		margin-top:64px;
		padding: 0 16px;
		text-align: center;
	}
		.logo img{
			width: 100%;
			max-width: 391px;
		}

		.login-screen-content .login_list{
			padding: 0 16px;
			margin-top: 56px;
		}
			.login_list ul{

			}
			.login_list ul:before,
			.login_list ul:after,
			.login_list .item-inner:after{
				display: none;
			}
				
				.login_list ul li{
					    margin-bottom: 16px;
				}
				.login_list .item-input{
					position: relative;
				}
					.login_list .item-input input{
						border-radius: 4px;
						border: none;
						background-color: rgba(255,255,255,.9);
						/* height: 55px; */
						padding: 0 16px;
					}
					.login_list.list-block	input[type=password]{
						padding-right: 40px;
					}
					.toggle-password{
						position: absolute;
						right: 0;
					    top: 0;					    
     					padding: 9px 10px 7px 5px;
					    cursor: pointer;

					    transition: all .3s;
					}
					.forget_pwd_wrapper{
						text-align: right;
						padding-right: 16px;
					}
						.forget_pwd_wrapper a{
							text-decoration: underline;
						}
			
		.btn_login{
			width: 260px;
			margin: 0 auto;
			border: none;
			
			font-size: 24px;
			background: #3FA8B2;
		}
	


/* RECHARGE / RENEW */
.recharge_page{

}
	.recharge_page .content-block-title{
		font-size: 24px;
		/* color: #4F4F4F; */
		text-align: center;
	}
	.recharge_list{

	}
		.recharge_list ul:before,
		.recharge_list ul:after{
			display: none;
		}
			
			.recharge_list.list-block .item-title{
				white-space: normal;
			}
			.recharge_list.list-block .input-item .item-media, .recharge_list.list-block.inputs-list .item-media{
				-ms-flex-item-align: center;
    			-webkit-align-self: center;
    			align-self: center;
			}
			
			.recharge_list.list-block .item-after{
				margin-left: 16px;
			}
		


	.recharge_block_wrapper{
		position: relative;
		max-width: 520px;
    	margin: 35px auto 56px;
	}

		.recharge_block{
			background-color: #fff;
			border: 1px solid #E6E6E6;
    		border-radius: 5px;
		    text-align: center;
		    overflow: hidden;
		}
		.recharge_block3{

			position: absolute;
			top: 20px;			
			left:0;
			right:0;
			margin-left:auto;
			margin-right:auto;
		}
			.recharge_block_top{
				background-color: #F47A24;
				padding: 16px 0;
			}
				.recharge_block_top_divider{
					background-color: rgba(255,255,255,.5);
					height: 1px;
					width: 37px;
					margin: 8px auto;
					
				}
				.recharge_block p{
					margin: 0;
					/* padding: 16px 0; */
					font-size: 14px;
					color: #ffffff;
				}
				.recharge_block.recharge_block3 p{
					/* padding: 18px 0; */
				}
					.recharge_block_top span{
						color: #11B4BA;
						font-weight: bold;
					}
					.recharge_block3 .recharge_block_top span{
						color: #F83434;
					}
			.recharge_block_middle{
				position: relative;
				background-color: #11B4BA;
				webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0, 0.2);
			    -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0, 0.2);
			    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0, 0.2);
			}
			.recharge_block_middle:before{
				content: '';
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -10px; 

				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: #fff;
			}
			.recharge_block_middle:after{
				content: '';
    			position: absolute;
    			top: -1px;
    			left: 50%;
    			margin-left: -2px;
    			width: 4px;
    			height: 4px;
    			border-radius: 1px;
    			background-color: transparent;
    			border: 1px solid #858585;
    			border-top: none;
    			border-left: none;
    			-ms-transform: rotate(45deg);
    			-webkit-transform: rotate(45deg);
    			transform: rotate(45deg);
			}
			.recharge_block3 .recharge_block_top{
				background-color:  #DD2641;
			}
				
			.recharge_block_bottom{
				
			}
				.button_buy_now{
					display: block;
					margin: 24px 8px;
					padding: 6px 0;
					border-radius: 5px;

					color: #fff;
					font-size: 12px;
					text-transform: uppercase;

					background-color: #7AC943;
					
				}
				.recharge_block3 .button_buy_now{					
					margin: 24px 18px ;
				}

				@media (min-width: 400px){
					.button_buy_now{
						margin: 24px 16px;
						font-size: 12px;
						padding: 4px 0;
					}
					
				}
					
/* ASSET STATUS */
/* .tabbar a.tab-link{
	color: #000;
	font-size: 16px;
	text-transform: none;
}
.navbar a.link.color-boatwatch{
	color: #3FA8B2;
}
.tabbar a.tab-link.active, .tabbar a.tab-link.active-state, html:not(.watch-active-state) .tabbar a.tab-link:active{
	color: #3FA8B2;
}

.tabbar .tab-link-highlight{
	background: #3FA8B2;
} */
.popover-status {
    padding: 0 8px;
    width: auto;
    max-width: 320px;
}
	.status_block_top{
		
    	box-sizing: border-box;
    	text-align: center;
    	color: #fff;
	}
		.status_block_top img{
			width: 29px;
			
		}
		.status_block_top p{
			margin: 0;
			/* font-size: 16px; */
			color: #fff;
		}
		.status_block_top p.position_data{
			font-size: 11px;
			color: #F47A24;
		}
		
	.status_block_list{
margin-top: 0;
	}

			.status_block_list ul li{
				
			}
			.list-block-selectall ul:before{

				background-color: rgba(119,119,119,.2);
			}
			.list-block-selectall.layout-dark ul:after {
				background: transparent ;
			}
			/* .status_block_list ul li:before{ */
			.status_block_list ul li:after,
			.list-block-selectall ul li:after{
				content: '';
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    right: auto;
			    top: auto;
			    height: 1px;
			    width: 100%;
			        background-color: rgba(119,119,119,.2);
			    display: block;
			    z-index: 15;
			    -webkit-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;
			}

			/* .status_block_list ul li:before{
				bottom: auto;
				top: 0;
			} */
			/* .status_block_list ul .col-50 li:before{
				background-color: rgba(119,119,119,0);
			} */
			.status_block_list ul li:last-child:after,
			.list-block-selectall ul li:last-child:after{
				background-color: rgba(119,119,119,0);
			}
			/* .status_block_list .item-content.with-borders:before{
				display: none;
			} */

		.status_block_list .item-media img{
			width: 58px;
		}
			.status_block_list.list-block .item-inner{
				display: -webkit-box;
			    display: -ms-flexbox;
			    display: -webkit-flex;
			    display: flex;	
			}
			
			.status_block_list.list-block li:first-child .item-inner{
				 display: initial;	
			}
				.status_block_list.list-block .item-text{
					color: #fff;
					-webkit-line-clamp: 3;
					max-height: initial;
					height: auto;
					    width: 100%;
					    font-size: 13px;
				}
				
				.status_block_list.list-block .col-50 .item-text{
					-webkit-line-clamp: 1;
				}

				.item-subtext{
					font-size: 12px;
    				color: #F47A24;
    				line-height: 1.4;
				}
		
/* ASSET PLAYBACK */
.playback_page{

}
	.playback_page .content-block-title{
		font-size: 16px;
		color: #3FA8B2;
		/* font-weight: 900;
		text-transform: uppercase; */
	}
	.li-switch .item-input{
		text-align: right;
	}
 
	.list-block .li-switch .item-title.label{
		width: 60%;
	}
	.list-playback-settings{
		margin-top: 12px;
	}
		.button.button-fill.bw_btn_show{
			background-color: #F47A24;
			margin-bottom: 18px;
			text-transform: uppercase;
		}
		.button.button-fill.bw_btn_show_24h{
			background-color: #D77A84;
			text-transform: uppercase;
		}

		.custom-picker{

			}
			.custom-picker .toolbar .text{
				padding: 0 16px;
				color: #000;
			}	
			.custom-picker .picker-modal-inner{
				background-color: #3F3F3F;
				-webkit-mask-box-image: -webkit-linear-gradient(bottom,transparent,transparent 0%,#fff 0%,#fff 100%,transparent 100%,transparent);
                -webkit-mask-box-image: linear-gradient(to top,transparent,transparent 0%,#fff 0%,#fff 100%,transparent 100%,transparent);
			}

				.custom-picker .picker-modal-inner .picker-item.picker-selected{					
					color: #fff;
				}
				.custom-picker .picker-modal-inner .picker-center-highlight{
					background-color: #333333;
    				z-index: -1;
				}
				.custom-picker .picker-items-col.picker-items-col-divider{
					color: #fff;
				}

				 
			.custom-picker .picker-items-col:before {
			    content: '';
			    position: absolute;
			    left: 0;
			    top: auto;
			    bottom: 0;
			    right: auto;
			    height: 100%;
			    width: 1px;
			    background-color: rgba(119,119,119,.2);
			    display: block;
			    z-index: 15;
			    -webkit-transform-origin: 50% 0;
			    transform-origin: 50% 0;
			}
			.custom-picker .picker-items-col:first-child:before {
				display: none;
			}
			.custom-picker .picker-modal-inner.picker-items .picker-items-col{
				text-align: center;
			}
			.custom-picker.custom-date .picker-items .picker-items-col{
				width: 33.33333333%;
			    width: -webkit-calc((100% - 15px*2)/ 3);
			    width: calc((100% - 15px*2)/ 3);
			}
			.custom-picker.custom-time .picker-items .picker-items-col{
				width: 50%;
    			width: -webkit-calc((100% - 15px*1)/ 2);
    			width: calc((100% - 15px*1)/ 2);
			}
			.custom-picker .picker-item{
				color: #999999;
			}
			.custom-picker .picker-center-highlight:after,
			.custom-picker .picker-center-highlight:before{
				background-color:rgba(119,119,119,.4);
			}

/* STREET VIEW */
.pano_map{
	height: 100%;
	width: 100%;
			
}
#pano { 
	height: 100%;
	width: 100%;
	margin:0; 
	padding:0; 
	position:absolute; 
	left:0; 
	right:0; 
	top:0; 
	bottom:0;
	z-index: 10000000; 
}

/* ASSET TRACK */
.track_page{
	
}
	.track_page .page-content,
	.playback_show .page-content{
		padding-bottom: 0;
	}
	
.icon-track,
.icon-playback{
	/* font-size: 32px; */
}
	.position_map{
		position: relative;
		height: calc(100% - 165px);
		min-height: 200px;
	}
	.position_map_playback{
		height: calc(100% - 201px);
	}
		.map{
			width: 100%;
			height: 100%;

		}

		.float_button_wrapper{
    		position: absolute;
		    
		    width: 56px;
		    height: 56px;
		    border-radius: 50%;
		    z-index: 100000;
		    /* box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23); */
		    /*background-color: #2196f3;*/
		    color: #fff;
		    overflow: hidden;
		    -webkit-transition-duration: .3s;
		    transition-duration: .3s;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    text-align: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    -webkit-align-items: center;
		    align-items: center;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    -webkit-justify-content: center;
		    justify-content: center;
		    box-sizing: border-box;
		}
		.float_button_wrapper .link{    
			line-height: .8;

			display: block;
		    width: 100%;
		    height: 100%;
		}
		.float_button_wrapper .link i{
			margin-top: 8px;
		}
		.float_button_wrapper .link span{
		 	display: block;
    		font-size: 11px;
		 }

		.gprs_button_wrapper{
		    bottom: 88px;
		    right: 16px;
		}
		.route_button_wrapper{
		    bottom: 16px;
		    right: 16px;
		}
		.pano_button_wrapper{
			border: 2px solid #fff;
			bottom: 16px;
			left: 16px;

		}
			.pano_button_wrapper a{
				width: 100%;
				height: 100%;
			}
			.float_button_wrapper .link i.pano_preview_img{
				background: url('../images/pano-preview.jpg') no-repeat center center;
				background-size: cover;		
				display: block;		
				height: 100%;
				width: 100%;
				margin: 0;
			}
		.back_button_wrapper{
			background-color: rgba(0,0,0,.2);
			top: 8px;
			left: 8px;

			z-index: 100000000;
			
		}
	.position_bottom{
		width: 100%;
		/* position: absolute; */
		bottom: 0;
		left: 0;
		/* height: 206px; */
		/* padding: 16px; */
    	box-sizing: border-box;
    	text-align: center;
    	
	}
	.position_bottom .row{
		padding: 15px;
	}
	.position_bottom .row.row-slider{
		padding: 0 15px;
	}
	.track_page .position_bottom > .row{
		position: relative;
	}
		.track_page .position_bottom > .row:first-child:after{
			    content: '';
			    position: absolute;
			    left: 0px;
			    bottom: 0;
			    right: auto;
			    top: auto;
			    height: 1px;
			    width: 100%;
			    background-color: #777;
			    display: block;
			    z-index: 15;
			    -webkit-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;
		}
	/* .position_bottom_playback{
		height: 236px;
	} */
		.playback_show_slider{
			/* margin-bottom: 16px; */
		}
		.range-slider input[type="range"]::-webkit-slider-thumb{
			/* border: 1px solid #3FA8B2; */
			background: #F47A24;
		    background-color: #F47A24;		    
		    border-radius: 50%;
		    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		}
		.range-slider input[type="range"]::-moz-range-thumb { 
		    /* border: 1px solid #F47A24; */
		    background: #F47A24;
		    background-color: #F47A24;
		    border-radius: 50%;
		    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		}
		.range-slider input[type="range"]::-ms-thumb{
			/* border: 1px solid #F47A24; */
			background: #F47A24;
		    background-color: #F47A24;
		    border-radius: 50%;
		    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		}
		
		.position_bottom img{
			width: 29px;
			margin-bottom: 4px;
		}
		.position_bottom p{
			margin: 0;
			/* font-size: 16px; */
		}
		.position_bottom p.position_data{

			font-size: 11px;
			color: #F47A24;
		}
		.position_bottom .address{
			/* margin-top: 16px; */
			/* text-align: left; */
		}
		.position_bottom .address img{
			display: inline-block;
			vertical-align: top;
			margin-bottom: 0;
		}
		.position_bottom .address p{
			line-height: 1.2;
		    width: calc(100% - 62px);
		    display: inline-block;
		    vertical-align: top;
		    overflow: hidden;    
		    text-overflow: ellipsis;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    display: -webkit-inline-box;
		    font-size: 11px;
		    /* text-align: left; */
		    /* padding-left: 8px; */
		}
		.position_bottom .address .item-subtext{
			font-size: 10px;
		}

		.leaflet-control-layers:not(.leaflet-control-layers-expanded){
		border-radius: 50%;
	}
	.leaflet-popup-content-wrapper{
		border-radius: 6px;
	}
		.marker-data-table{
			
		}
			.marker-data-table td{
				border-bottom: 1px solid #E6E6E6;
				font-size: 13px;
			    line-height: 1.2;
			    padding: 4px 0;
			    vertical-align: text-top;
			}
			.marker-data-table tr:last-child td{
				border-bottom: 1px solid transparent;
			}
			.marker-data-table .marker-data-caption{
				text-align: left;
				color: #999999;
				white-space: nowrap;
				font-weight: 600;
			}
			.marker-data-table .marker-data-value{
				text-align: right;
				color: #4D4D4D;
				padding-left: 10px;
			}
			.leaflet-popup-close-button{
				/* display: none; */
			}
			.leaflet-control-layers-selector{
				visibility: hidden;
				width: 1px;
    			margin: 0;
			}
			
			.leaflet-control-layers label{
				display: inline-block;
				margin: 8px 8px;
				color: #999999;
			}
			.layer-icon{
				width: 72px;
			}
			.leaflet-control-layers-base p{
				margin: 0;
				font-size: 14px;
				font-weight: bold;
    			padding-left: 4px;
			}

			.leaflet-control-layers-base input[type=radio]:checked + span{
				color: #000;
			}
			
			input[type=checkbox].leaflet-control-layers-selector{
				visibility: visible;
				width: 16px;
			}

				.leaflet-control-layers-overlays span{
					margin: 0;
					font-size: 14px;
					font-weight: bold;
	    			padding-left: 4px;
				}

				.leaflet-control-layers-overlays input[type=checkbox]:checked + span{
					color: #000;
				}
			
/* ASSET EDIT */
.edit_top{
	text-align: center;
}
	.edit_top img {
	    width: 80px;
	}
	.asset_img {
	    text-align: center;
	    position: relative;
	    /* padding: 0 0 16px; */
	}
		.asset_img img {
		    width: 50%;
		    /* height: 45vw; */
		    max-width: 224px;
		    max-height: 224px;
		    border-radius: 100%;
		}
		.upload_photo {
		    position: absolute;
		    top: 0;
		    right: 50%;
		    margin-right: -100px;
		    color: #fff;
		    font-size: 18px;
		}
	
	.edit_top p{
		position: relative;
		text-transform: uppercase;
		font-size: 17px;
		color: #999;
	}	
	.edit_top p span{
		color: #fff;
	}
	/* .edit_top p:after{
		content: '';
	    position: absolute;
	    bottom: -4px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    width: 80%;
	    height: 1px;
	    background: #D1D1D1;
	    
	} */
		/* .edit_top p span{
			font-size: 18px;
			font-weight: 900;
		} */
		/* .list-block .input-item .floating-label, .list-block .input-item .label, .list-block.inputs-list .floating-label, .list-block.inputs-list .label{
			font-size: 14px;
		} */
		/* .item-title.label.color-boatwatch{
			color: #3FA8B2;
		} */
		.list-block .item-divider, .list-block .list-group-title{
			font-size: 18px;
			color: #333333;
			font-weight: 600;
			background-color: transparent;
			padding: 12px 16px 0;
		}


/* ASSET EDIT PHOTO */
#redo{
	position: fixed;
	bottom: 20px;
	left :20px;
	font-size: 30px;
}
#undo{
	position: fixed;
	bottom: 20px;
	right :20px;
	font-size: 30px;
}

.asset_img_before_crop{
	width: 100%;
}
	.asset_img_before_crop img{
		width: 100%;
		max-width: 100%;
	}
	
/* PROFILE */
.profile_page{

}
	.profile_page .list-block{
		margin-top: 0;
	}
/* ALARM */
.alarm_page{

}
	.alarm_switch_container{
		padding: 0 16px;
		line-height: 56px;
    	height: 56px;
	}
	.alarm_list{
		margin-top: 0px;
	}
	.alarm_list .item-title {
		color: #fff;
	}
	/* .alarm_list.list-block ul:before{
		display: none;
	} */
		.list-block li.alarm_title .item-inner{
			    padding: 16px 15px 15px 0;
		}

			/* .alarm_list li:after{
				content: '';
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    right: auto;
			    top: auto;
			    height: 1px;
			    width: 100%;
			    background-color: #777;
			    display: block;
			    z-index: 15;
			    -webkit-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;
			    opacity: .3;
			} */

/* UPGRADE */

			
/* GEOFENCE */

.geofence_page{

}
	.icon-add_geofence{
		font-size: 30px;
	}
	.geofenceList{
		margin: 8px 0;
	}
		.geofenceList li:after{
			content: '';
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    right: auto;
		    top: auto;
		    height: 1px;
		    width: 100%;
		    background-color: rgba(119,119,119,.2);
		    display: block;
		    z-index: 15;
		    -webkit-transform-origin: 50% 100%;
		    transform-origin: 50% 100%;
		}


		.geofenceList .item-inner:after{
			display: none;
		}
		.geofenceList .item-after i{
			vertical-align: middle;
		}
		
		.geofenceList .item-title{
			color: #fff;
		}
		/* .list-block .item-text.color-boatwatch{
			color: #3FA8B2;
		} */
		/* GEOLOCK */


		.input_geolock_radius{
			width: 100%;
			box-shadow: none;
		}
		.input_geolock_radius:after{
			display: none;
		}		
			.input_geolock_radius input{				
				
			}

		.geofence_add_page .position_bottom{
			height: initial;
			position: relative;
			text-align: left;
			padding: 0;
		}
		.geofence_add_page .list_geofence_preferences{
			margin: 0 ;
		}
		.form_geofence_search_address input, 
		.form_geofence_search_address textarea{
				padding-right: 40px !important;
			}
			.form_geofence_search_address button{
				position: absolute;
			    bottom: 0;
			    top: 0;
			    right: 15px;
			    margin: auto;
			    border: none;
			    background: transparent;		  
			}
			.list_geofence_preferences .bw-li-switch .item-input{
				text-align: right;
			}
			.list_geofence_preferences .item-title {
				color: #999999;
			}
			.list_geofence_preferences .item-after {
				color: #fff;
			}
		/* 	.list_geofence_preferences .smart-select .item-inner:after{
				content: '';
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    right: auto;
			    top: auto;
			    height: 1px;
			    width: 100%;
			    width: calc(100% - 16px);
			    background-color: rgba(0,0,0,.12);
			    display: block;
			    z-index: 15;
			    -webkit-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;
		
			    -webkit-transform: scaleY(2)!important;
		   				transform: scaleY(2)!important;
		   				background-color: #3FA8B2;
			}
			
			    
				.list_geofence_preferences .smart-select .item-inner .item-title{
					font-size: 14px;
				}
			.list_geofence_preferences .smart-select .item-after{
				padding: 4px 0;
				margin-left: 0;
				font-size: 16px;
				color: #212121;
				max-width: 100%;
				padding-right: 20px;
			}
				.list_geofence_preferences .smart-select .item-after:before,
				.select_alarm_type_wrapper:before,
				.select_time_range_state:before{
					content: "";
					display: block;
					position: absolute;
					background: url(../images/svg_select_arrow.svg) no-repeat right center;
					right: 0;
		    				top: 0;
		    				bottom: 0;
		    				margin: auto;
		    				width: 15px;
		    				height: 10px;
				}
		
				.list-block input[type=date]:before,
				.list-block input[type=time]:before{
					content: "";
					display: block;
					position: absolute;
					background: url(../images/svg_select_arrow.svg) no-repeat right center;
					right: -5px;    				
		    				bottom: 0;    				
		    				width: 15px;
		    				height: 10px;
		
		    				-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
		
				
				
			#myelement:before {
				content: "";
				position: absolute;
				width: 200%;
				height: 200%;
				top: -50%;
				left: -50%;
				z-index: -1;
				    background: url(../images/svg_select_arrow.svg) no-repeat right center;
				
			}
			.form_geofence_search_address input{
				padding-right: 38px !important;
			}
			.form_geofence_search_address button{
				position: absolute;
			    top: 0;
			    right: 0;
			    border: none;
			    background: transparent;
			}
		
		.time_range_block{
			display: none;
			background: #EAEAEA;
			box-shadow: inset 0 0 5px rgba(0,0,0,.25);
			box-shadow: 0 20px 20px -20px rgba(0,0,0,.25) inset, 0 -20px 20px -20px rgba(0,0,0,.25) inset;
			padding-bottom: 14px;
			height: 75px;
		}
		.time_range_block.active{
			height: auto !important;
		}
			.list-block.inputs-list.list_geofence_preferences .time_range_block .item-inner{
		
			    padding-bottom: 14px;
			    margin-bottom: 0;
			}
		    
		
			.list_geofence_preferences .time_range_block .item-input span{
				position: absolute;
				font-size: 14px;
				top: 50%;
			    		transform: translateY(-50%);
			}
			.list_geofence_preferences .time_range_block .item-input span + input{
				padding-left: 60px;
			}
		
			.time_range_block label.label-checkbox{
				padding-left: 0;
			}
				.time_range_block label.label-checkbox .item-after{
					margin-left: 0;
				}
					.time_range_block label.label-checkbox .item-after i.icon.icon-form-checkbox{
						margin-left: 0;
					}
		 */





.theme-dealer i.icon.icon-back{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.theme-dealer .smart-select-page{
	background: #333;
}
.smart-select-page .navbar {
	
}
.smart-select-page .searchbar {
	background: #fff;
}
.smart-select-page .navbar i.icon-back{
	font-size: 28px;
}
	.smart-select-page .list-block{
		margin: 16px 0;
		color: #fff;
	}
			.smart-select-page .list-block ul:before,
			.smart-select-page .list-block ul:after,
			.smart-select-page .list-block .item-inner:after,
			.smart-select-page .list-block .item-inner:after
			{
				display: none;
			}
				.smart-select-page .list-block ul li label .item-media img{
					width: 48px;
				}
/*
==============================================
tossing
==============================================
*/

.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-5deg); 
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg); 
  }           
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-5deg); 
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg); 
  }       
}




/* LOW CREDIT BALANCE MODAL */
.custom-modal-logo-wrapper{
	text-align: center;
}
	.custom-modal-logo{
		max-width: 160px;
		 width: 100%;
	    /* max-height: 105px; */	   
	    /* height: 100%; */
	}
.custom-modal-title{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	word-break: break-all;
}
.custom-modal-text{
	margin-top: 10px;
	color: #757575;
	font-size: 16px;
}

	.menu_remainings.custom-modal-remaining{
		/* text-align: left; */
    	margin: 0;
    	position: relative;
    	background: transparent;
    	padding: 12px 0 0;
	}