@charset "UTF-8";

@font-face {
  font-family: "quiktrak";
  src:url("fonts/quiktrak.eot");
  src:url("fonts/quiktrak.eot?#iefix") format("embedded-opentype"),
    url("fonts/quiktrak.woff") format("woff"),
    url("fonts/quiktrak.ttf") format("truetype"),
    url("fonts/quiktrak.svg#quiktrak") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "quiktrak" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "quiktrak" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data-acc:before {
  content: "\61";
}
.icon-data-address:before {
  content: "\62";
}
.icon-data-battery:before {
  content: "\63";
}
.icon-data-direction:before {
  content: "\64";
}
.icon-data-fuel:before {
  content: "\65";
}
.icon-data-id:before {
  content: "\66";
}
.icon-data-speed:before {
  content: "\67";
}
.icon-data-status:before {
  content: "\68";
}
.icon-data-temperature:before {
  content: "\69";
}
.icon-data-voltage:before {
  content: "\6a";
}
.icon-header-add:before {
  content: "\6b";
}
.icon-header-alarm:before {
  content: "\6c";
}
.icon-header-alarm2:before {
  content: "\6d";
}
.icon-header-apply:before {
  content: "\6e";
}
.icon-header-arrow-back:before {
  content: "\6f";
}
.icon-header-delete:before {
  content: "\70";
}
.icon-header-edit:before {
  content: "\71";
}
.icon-header-menu:before {
  content: "\72";
}
.icon-header-pause:before {
  content: "\73";
}
.icon-header-play:before {
  content: "\74";
}
.icon-header-search:before {
  content: "\75";
}
.icon-header-stop:before {
  content: "\76";
}
.icon-header-track:before {
  content: "\77";
}
.icon-menu-alarms:before {
  content: "\78";
}
.icon-menu-geofence:before {
  content: "\79";
}
.icon-menu-home:before {
  content: "\7a";
}
.icon-menu-logout:before {
  content: "\41";
}
.icon-menu-profile:before {
  content: "\42";
}
.icon-menu-support:before {
  content: "\43";
}
.icon-other-acc:before {
  content: "\44";
}
.icon-other-active:before {
  content: "\45";
}
.icon-other-data:before {
  content: "\46";
}
.icon-other-distance:before {
  content: "\47";
}
.icon-other-edit:before {
  content: "\48";
}
.icon-other-pin-map:before {
  content: "\4a";
}
.icon-other-position:before {
  content: "\4b";
}
.icon-other-remove:before {
  content: "\4c";
}
.icon-other-satellite:before {
  content: "\4d";
}
.icon-other-signal:before {
  content: "\4e";
}
.icon-other-speed:before {
  content: "\4f";
}
.icon-password-eye:before {
  content: "\50";
}
.icon-ping1:before {
  content: "\51";
}
.icon-settings-password:before {
  content: "\52";
}
.icon-settings-profile:before {
  content: "\53";
}
.icon-stopped-time:before {
  content: "\54";
}
.icon-engine-hours:before {
  content: "\55";
}
.icon-other-geolock:before {
  content: "\56";
}
.icon-other-input:before {
  content: "\58";
}
.icon-other-menu-geofence:before {
  content: "\57";
}
.icon-other-lock:before {
  content: "\59";
}
.icon-other-satellite-1:before {
  content: "\49";
}
.icon-other-signal-1:before {
  content: "\5a";
}
.icon-menu-recharge:before {
  content: "\30";
}
